In [1]:
import pandas as pd

In [4]:
# Import one data file
df = pd.read_csv('/workspaces/Capstone/data/2024_03_Marc_BicingNou_ESTACIONS.csv')

/tmp/ipykernel_15732/695027016.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/workspaces/Capstone/data/2024_03_Marc_BicingNou_ESTACIONS.csv')

In [5]:
df

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,last_updated,ttl,V1
0,1.0,17.0,6.0,11.0,27.0,1.709247e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.709248e+09,0.0,NaN
1,2.0,8.0,4.0,4.0,17.0,1.709247e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.709248e+09,0.0,NaN
2,3.0,20.0,20.0,0.0,6.0,1.709247e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.709248e+09,0.0,NaN
3,4.0,3.0,1.0,2.0,16.0,1.709247e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.709248e+09,0.0,NaN
4,5.0,9.0,8.0,1.0,30.0,1.709247e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.709248e+09,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4533443,515.0,13.0,12.0,1.0,11.0,1.711923e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.711923e+09,0.0,NaN
4533444,516.0,5.0,2.0,3.0,16.0,1.711923e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.711923e+09,0.0,NaN
4533445,517.0,17.0,7.0,10.0,1.0,1.711923e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.711923e+09,0.0,NaN
4533446,518.0,1.0,0.0,1.0,26.0,1.711923e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.711923e+09,0.0,NaN
4533447,519.0,2.0,0.0,2.0,21.0,1.711923e+09,True,IN_SERVICE,1.0,1.0,1.0,NaN,1.711923e+09,0.0,NaN